<div class="row justify-content-center">
  <div class="col-md-10 col-lg-6 text-center">
    <% if @query.nil? %>
      <%= image_tag 'search.png', width: '100px', class: 'search-image' %>
    <% end %>
    <%= form_with url: :movies_path, method: :get, local: true do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :query, value: @query, class: 'form-control', placeholder: 'Search for a movie...' %>
        <%= form.hidden_field :page, value: 1 %>
        <%= link_to 'x', :movies_path, class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</div>
<% unless @query.nil? %>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
      <hr>
      <div class="row justify-content-center gy-2">
        <% if @collection.empty? %>
          <div class="col-24 text-center">
            <%= render partial: "no_results" %>
          </div>
        <% else %>
          <div class="col-24">
            <%= render partial: "services/pagination" %>
          </div>
          <% @collection.each do |value| %>
          <div class="col-24">
            <%= render partial: "services/movie_card", locals: {movie: value} %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
